@page "/episodes"
@layout FireflyLayout

<h3>Episodes</h3>

<ul>
    <li>
        <a href="https://www.imdb.com/title/tt0579539">
            <em>The Train Job</em>
        </a>
    </li>
    <li>
        <a href="https://www.imdb.com/title/tt0579528">
            <em>Bushwhacked</em>
        </a>
    </li>
    <li>
        <a href="https://www.imdb.com/title/tt0579532">
            <em>Our Mrs. Reynolds</em>
        </a>
    </li>
</ul>

@code {

}
